
.feed-wrap {
	color: #2e2e2e;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.feed-comments-full, .feed-comments-limited {
	overflow: hidden;
}

.feed-add-post-block {
}

.feed-add-post-title {
	border-bottom: 1px solid #f0f1f2;
	color: #9c9c9c;
	font-size: 14px;
	height: 26px;
	margin: 0 0 9px;
	padding: 13px 12px 14px 17px;
	position: relative;
}

#feed-add-post-content-message .feed-add-post-title {
	cursor: text !important;
	overflow: hidden !important;
}

#feed-add-post-content-message .feed-add-post-title .feed-add-post-text {
	display: none !important;
}

#feed-add-post-content-message .feed-add-post-title .feed-add-post-form-but-wrap {
	display: none !important;
}

.feed-add-post-inp {
	background: none repeat 0 0 #fff;
	border: none;
	color: #80868e;
	font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 26px;
	outline: medium none;
	padding: 0;
	width: 98%;
}

.feed-add-post-inp-active {
	color: #434343;
}

.feed-add-post-error-wrap {
	background-color: #f2cbcb;
	border-radius: 3px;
	margin-bottom: 12px;
	min-height: 38px;
	padding: 4px;
	position: relative;
}

.feed-add-post-error {
	background-color: #fff;
	border: 1px solid #ee9b9b;
	border-radius: 2px;
	min-height: 18px;
}

.feed-add-post-title-error {
	box-shadow: 0 1px 2px rgba(71, 71, 71, 0.2) inset;
	padding: 9px 12px;
}

.feed-add-post-error-wrap .feed-add-close-icon {
	right: 7px;
	top: 11px;
}

.feed-add-successfully,
.feed-add-error {
	padding: 19px 15px 16px;
	position: relative;
	text-align: center;
}

.feed-blog-post-list .feed-add-successfully, .feed-blog-post-list .feed-add-error {
	margin-left: 15px;
	margin-right: 15px;
}

.feed-add-successfully {
	background-color: #e4efad;
}

.feed-add-error {
	background-color: #ffd4d4;
}

.feed-add-info-text {
	color: #57740d;
	display: inline-block;
	font-size: 15px;
	position: relative;
}

.feed-add-error .feed-add-info-text {
	color: #ce0000;
}

.feed-add-info-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -105px -83px;
	display: inline-block;
	height: 21px;
	margin-right: 10px;
	vertical-align: top;
	width: 23px;
}

.feed-add-error .feed-add-info-icon {
	background-position: -109px -56px;
	margin-top: -3px;
}


.feed-add-post-menu {
	height: 31px;
	position: relative;
}

.feed-add-post-menu-but {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -95px -210px;
	height: 23px;
	position: absolute;
	right: 9px;
	width: 27px;
}

.feed-add-post-edit-block {
	background: -moz-linear-gradient(center top, #f9fbfb, #f4f8f8) repeat 0 0;
	border-bottom: 1px solid #e9eaeb;
	border-left: 1px solid #ced1d2;
	border-right: 1px solid #ced1d2;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 2px -2px rgba(229, 229, 229, 0.9);
	height: 25px;
	margin: 0 -1px;
	padding: 6px 0 0;
	position: relative;
}

.feed-add-but-bold {
	background-position: -10px -19px;
}

.feed-add-but-italic {
	background-position: 8px -39px;
}

.feed-add-but-underline {
	background-position: -31px -18px;
}

.feed-add-but-strike {
	background-position: -78px -18px;
}

.feed-add-post-color {
	background-position: -102px -19px;
}

.feed-add-post-fontsizelist {
	background-position: -39px 4px;
}

.feed-add-post-removeformat {
	background-position: -70px -40px;
}

.feed-add-post-quote {
	background-position: -54px -19px;
}

.feed-add-post-code {
	background-position: -18px -40px;
}

.feed-add-post-cut {
	background-position: -44px -40px;
}

.feed-add-post-edit-block .feed-add-close-icon {
	top: 3px;
}

.feed-add-post-error-wrap .feed-add-post-form {
	margin-bottom: 0;
}

.feed-add-close-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 9px -17px;
	cursor: pointer;
	height: 25px;
	opacity: 0.5;
	position: absolute;
	right: 2px;
	width: 25px;
}

.feed-add-close-icon:hover {
	opacity: 1;
}

.feed-add-post-title .feed-add-close-icon {
	top: 4px;
}

.feed-com-tags-block {
	overflow: hidden;
	margin: 0 -18px 0 -70px;
	padding: 0 18px 15px 70px;
}

.start-page .feed-com-tags-block {
	margin-left: -85px;
	padding-left: 85px;
}

.feed-add-post-files-block {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat 0 0 #f4f8f9;
	border-color: #ced0d1 #ced1d1 #d3d7d8;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px -1px rgba(164, 164, 164, 0.7) inset;
	margin-bottom: 11px;
	overflow: hidden;
	padding: 13px 30px 0;
	position: relative;
}

.feed-add-post-files-title {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 500px -5000px;
	color: #5c6470;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.feed-add-post-files-block .feed-add-post-files-title {
	font-weight: normal;
	left: 13px;
	position: absolute;
	top: 12px;
	width: 54px;
}

.feed-add-post-files-activity {
	padding: 15px 0 5px 10px;
}

.feed-add-post-files-activity-item {
	line-height: 14px;
	padding: 0 0 11px;
}

.feed-add-post-files-activity-checkbox {
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	vertical-align: middle;
}

.feed-add-post-files-activity-label {
	color: #000;
	display: inline-block;
	font-size: 12px;
	margin-top: 2px;
	vertical-align: middle;
}

.feed-add-post-files-link {
	border-bottom: 1px dashed #1f67b0;
	color: #1f67b0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
}

.feed-add-post-files-link:hover {
	text-decoration: none;
}

.feed-file-icon-bmp {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-css {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-csv {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -224px !important;
}

.feed-file-icon-dib {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-doc {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -288px !important;
}

.feed-file-icon-docp {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -288px !important;
}

.feed-file-icon-docx {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -288px !important;
}

.feed-file-icon-gif {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-htm {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-html {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-jfif {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-jpe {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-jpeg {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-jpg {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-js {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-pdf {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -415px !important;
}

.feed-file-icon-php {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-png {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-ppt {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -256px !important;
}

.feed-file-icon-pptp {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -256px !important;
}

.feed-file-icon-pptx {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -256px !important;
}

.feed-file-icon-rar {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -96px !important;
}

.feed-file-icon-rtf {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -288px !important;
}

.feed-file-icon-swf {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-tif {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-tiff {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -128px !important;
}

.feed-file-icon-txt {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -192px !important;
}

.feed-file-icon-xls {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -224px !important;
}

.feed-file-icon-xlsp {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -224px !important;
}

.feed-file-icon-xlsx {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -224px !important;
}

.feed-file-icon-xml {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -32px !important;
}

.feed-file-icon-zip {
	background: url("images/log/icons/files/files-sprite.png") no-repeat 0 -96px !important;
}

.feed-add-post-files-list-wrap {
	margin-left: 56px;
}

.feed-add-post-files-list {
	margin-top: -8px;
	table-layout: fixed;
	width: 100%;
}

.feed-add-post-files-list td {
	border-bottom: 1px solid #dde5e8;
	box-shadow: 0 -2px 0 -1px #ffffff inset;
	color: #5c6470;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	padding: 10px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.feed-add-post-files-name {
	width: 26%;
}

.feed-add-post-files-size {
	width: 12%;
}

.feed-add-post-files-storage {
	width: 62%;
}

.feed-add-post-files-text {
	color: #2067b0;
	display: block;
	font-weight: bold;
	position: relative;
}

.feed-add-post-f-wrap {
	display: inline-block;
	max-width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.feed-add-post-files-text .feed-add-post-del-but {
	background-position: 6px -19px;
	display: inline-block;
	margin-top: -2px;
	position: static;
	vertical-align: top;
}

.feed-add-post-files-text .feed-add-post-del-but:hover {
	background-position: -59px -60px;
}

.feed-add-post-stor-place {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.feed-add-post-stor-text {
	border-bottom: 1px solid #5c6470;
	display: inline-block;
}

.feed-add-post-stor-pl-arrow {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -130px -23px;
	display: inline-block;
	height: 5px;
	margin-left: 10px;
	vertical-align: middle;
	width: 3px;
}

.feed-add-post-edit-stor {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 4px -64px;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin-left: 5px;
	vertical-align: middle;
	width: 15px;
}

.feed-add-post-files-path, .feed-add-post-files-path:visited, .feed-add-post-files-path:active, .feed-add-post-files-path:link, .feed-add-post-files-path:hover {
	border-bottom: 1px solid #5c6470;
	color: #5c6470;
	display: inline-block;
	margin-left: 10px;
	text-decoration: none;
}

.feed-add-error-load .feed-add-post-f-wrap {
	color: #bb0000;
}

.feed-add-error-text {
	color: #5c6470;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	margin: -2px 0 0;
}

.feed-add-post-loading-wrap {
	display: inline-block;
	margin-left: 3%;
	position: relative;
	vertical-align: middle;
	width: 70%;
}

.feed-add-post-loading {
	background-color: #fff;
	border: 1px solid #bcc2c4;
	border-radius: 1px;
	display: block;
	height: 20px;
}

.feed-add-post-loading-cancel {
	background: url(images/log/live_feed_sprite_6.png?3) no-repeat 11px -18px;
	cursor: pointer;
	height: 21px;
	top: 0;
	opacity: 0.6;
	position: absolute;
	right: 0;
	width: 25px;
}

.feed-add-post-loading-cancel:hover {
	opacity: 1;
}

.feed-add-post-load-indicator {
	background-color: #2fc7f7;
	border-radius: 1px;
	color: #fff;
	font-size: 14px;
	height: 22px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
}

.feed-add-post-load-number {
	box-sizing: border-box;
	display: inline-block;
	padding-top: 3px;
}

.feed-add-post-load-place {
	border-radius: 5px;
	color: #a0aeb5;
	font-size: 17px;
	font-weight: bold;
	line-height: 26px;
	margin: 20px 0 10px;
	padding: 24px 3px 43px 191px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.feed-add-post-load-place-active {
	background-position: 57px -88px;
	border: 3px dashed #d4dde1;
	padding: 21px 0 40px 190px;
}

.feed-add-post-load-place:hover {
	border: 3px dashed #d4dde1;
	padding: 21px 0 40px 188px;
}

.feed-add-post-load-img {
	/*background: url("images/log/loading-place-img.png") no-repeat 0 0;*/
	height: 79px;
	left: 58px;
	position: absolute;
	top: 20px;
	width: 90px;
}

.feed-add-post-load-place:hover .feed-add-post-load-img {
	background-position: 0 -104px;
	left: 55px;
	top: 17px;
}

.feed-add-post-load-button {
	color: #2067b0;
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.feed-add-post-load-button:hover {
	text-decoration: underline;
}

.feed-add-post-load-but-text {
}

.feed-load-file {
	font-size: 120px;
	height: 85px;
	left: -250px;
	opacity: 0;
	position: absolute;
	top: -20px;
}

.feed-add-post-list-file {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	line-height: 12px;
}

.feed-add-post-load-pl-text {
	color: #5c6470;
	font-size: 12px;
	margin-left: 58px;
	padding-bottom: 11px;
}

.feed-add-file-but {
	overflow: hidden;
	position: relative;
}

.feed-add-post-p {
	background-position: -141px -208px !important;
	padding-left: 23px;
}

.feed-post-item .feed-add-post-p {
	margin-left: 0;
}

.feed-add-photo-block-wrap {
	margin-top: -17px;
}

.feed-add-photo-block {
	display: inline-block;
	margin: 17px 17px 0 0;
	min-height: 92px;
	padding-right: 21px;
	position: relative;
	vertical-align: top;
	width: 102px;
}

.feed-add-photo-block .feed-add-post-del-but {
	background-color: #fff;
	background-position: 6px -19px;
	height: 22px;
	top: 1px;
	z-index: 0;
}

.feed-add-img-wrap {
	background: none repeat 0 0 #fff;
	border: 1px solid #e2e6e6;
	-webkit-box-shadow: 0 0 2px rgba(137, 137, 137, 0.3);
	box-shadow: 0 0 2px rgba(137, 137, 137, 0.3);
	display: block;
	padding: 4px;
	position: relative;
	text-align: center;
	z-index: 2;
}

.feed-add-img-title {
	color: #2067b0;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-top: 3px;
}

.feed-add-photo-block .feed-add-close-icon {
	background-color: #fff;
	background-position: 8px -19px;
	height: 22px;
	right: 1px;
	top: 1px;
	width: 22px;
}

.feed-add-photo-block .feed-add-close-icon:hover {
	background-position: -57px -60px;
}

.feed-add-photo-bl-error .feed-add-img-title {
	color: #bb0000;
}

.feed-add-img-error {
	background: none repeat 0 0 #9a2b2d;
	display: block;
	height: 92px;
	position: relative;
}

.feed-add-img-er-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -97px -183px;
	height: 27px;
	left: 50%;
	margin: -13px 0 0 -15px;
	position: absolute;
	top: 50%;
	width: 30px;
}

.feed-add-button,
.feed-add-button-transparent {
	background-color: #2fc7f7;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	margin: 10px 15px 0 0;
	min-width: 103px;
	padding: 0 12px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	-webkit-transition: background-color 0.3s linear !important;
	transition: background-color 0.3s linear !important;
}

.feed-buttons-block .feed-add-button {
	margin-bottom: 17px;
	vertical-align: top;
}

.feed-add-button-text {
	display: block;
}

.feed-add-button-left,
.feed-add-button-right {
	display: none;
}

.feed-add-button:hover {
	background-color: #3fddff;
	color: #fff;
}

.feed-add-post-load {
	color: #5c6470;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 0 57px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}


.feed-add-button-transparent {
	background: none;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #c6cdd3;
	box-shadow: inset 0 0 0 1px #c6cdd3;
	color: #7d838c;

	-webkit-transition: all 0.2s linear !important;
	transition: all 0.2s linear !important;
}

.feed-add-button-transparent:hover {
	background-color: #ecedef;
	color: #535c69;
}



.feed-add-post-load-info-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -99px -482px;
	display: inline-block;
	height: 14px;
	margin-right: 5px;
	vertical-align: middle;
	width: 14px;
}

.feed-add-post-load-info-text {
	font-weight: normal;
	line-height: normal;
	margin: 17px 0;
}

.feed-add-post-load .feed-add-button {
	margin-top: 0;
}

.feed-new-message-informer-anim {
	opacity: 1;
}

.feed-new-message-informer-counter {
	display: inline-block;
}

.feed-new-message-informer-place {
	background-color: #eef2f4;
	height: 33px;
	position: relative;
	z-index: 140;
}

.feed-new-message-inform-wrap {
	text-align: center;
}

.feed-new-message-informer {
	color: #0b66c3;
	cursor: pointer;
	display: block;
	height: 33px;
	text-align: center;
}

.feed-new-message-informer:hover .feed-new-message-inf-text {
	color: #0b4989;
}

.feed-new-message-informer-fixed {
	height: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: height 0.3s linear 0s;
	width: 100%;
	z-index: 200;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.feed-new-message-informer-fix-anim .feed-new-message-informer {
	background-color: #eef2f4;
	display: inline-block;
	bottom: 0;
	position: absolute;
	left: 50%;
	height: 33px;
	margin-left: -124px;
	width: 248px;
}

.feed-new-message-informer-fixed .feed-new-message-inf-text {
	line-height: 29px;
}

.feed-new-message-informer-fixed .feed-new-message-icon {
	background-position: -29px -850px;
	margin-top: 8px;
}

.feed-new-message-informer {
	opacity: 0;
	transition: opacity 0.4s ease 0s;
}

.feed-new-message-informer-fix-anim {
	height: 33px;
}

.feed-new-message-informer-anim .feed-new-message-informer {
	opacity: 1;
}

.feed-new-message-inf-wrap {
	background-color: #eef2f4;
	display: none;
	overflow: hidden;
	height: 129px;
}
.feed-new-message-inf-wrap.feed-new-message-inf-wrap-first {
	height: 40px;
}

.feed-new-message-active {display: block;}


.feed-new-message-inf-bottom {
	background-color: #fff;
	border-radius: 2px;
	color: #0b66c3;
	cursor: pointer;
	display: block;
	height: 40px;
	opacity: 0;
	outline: none;
	text-align: center;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.feed-new-message-active .feed-new-message-inf-bottom {
	opacity: 1;
}

.feed-new-message-circle {
	background: url(images/log/feed-loader.png) no-repeat 0 0;
	margin: 20px auto 0;
	height: 68px;
	opacity: 0;
	width: 68px;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.feed-new-message-anim .feed-new-message-circle {
	-webkit-animation: feed-load 2s linear infinite;
	animation: feed-load 2s linear infinite;
	opacity: 1;
}

@-webkit-keyframes feed-load {
	0% {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}
@keyframes feed-load {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}


/*.feed-new-message-circle circle {
	fill: none;
	stroke-width : 2;
	stroke: #33c8f7;
	stroke-dasharray:0,201;

	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 34px 34px;
	transform: rotate(90deg);
	transform-origin: 34px 34px;
}

.feed-new-message-anim .feed-new-message-circle circle {
	-webkit-animation: circle 3s linear infinite;
	animation: circle 3s linear infinite;
}

@-webkit-keyframes circle {
	0% {stroke-dasharray:0,201;}
	100% {stroke-dasharray:201,0;}
}
@keyframes circle {
	0% {stroke-dasharray:0,201;}
	100% {stroke-dasharray:201,0;}
}*/




.feed-new-message-inf-text {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 33px;
}

.feed-new-message-inf-bottom .feed-new-message-inf-text {
	line-height: 38px;
}

.feed-new-message-inf-bottom:hover .feed-new-message-inf-text {
	color: #04478b;
}

.feed-new-message-counter {
	display: inline-block;
}

.feed-new-message-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -5px -850px;
	display: inline-block;
	height: 11px;
	margin: 11px 0 0 10px;
	vertical-align: top;
	width: 11px;
}

.feed-new-message-inf-bottom .feed-new-message-icon {
	margin-top: 13px;
}


.feed-new-message-wait-icon {
	background: url("images/log/waiter-blue.gif") no-repeat 0 0 transparent;
	display: inline-block;
	height: 29px;
	margin: 5px 12px 0 0;
	vertical-align: top;
	width: 29px;
}

.feed-new-message-wait-icon-small {
	background: url("images/log/waiter-lent.gif") no-repeat 0 0 transparent;
	display: inline-block;
	height: 27px;
	margin: 2px 12px 0 0;
	vertical-align: top;
	width: 27px;
}

.bx-retina .feed-new-message-wait-icon-small {
	background-image: url("images/log/waiter-lent-retina.gif");
	background-position: center center;
	background-size: 22px 22px;
}

.feed-post-block {
	border-bottom: 15px solid #eef2f4;
	padding-bottom: 20px;
	min-height: 87px;
	position: relative;
}

.feed-post-cont-wrap {
	margin-bottom: 3px;
	overflow: hidden;
	padding: 22px 18px 0 85px;
	position: relative;
}

.feed-post-block-new .feed-post-cont-wrap {
	/*margin-bottom: 8px;*/
}

.feed-leave-group .feed-post-cont-wrap, .feed-join-group .feed-post-cont-wrap {
	padding-bottom: 15px;
}

.feed-post-block-new .feed-post-cont-wrap {
	background-color: #fffcee;
}

.feed-new-employee.feed-post-block-new .feed-post-cont-wrap {
	margin-bottom: 3px;
}

.feed-info.feed-post-block-new .feed-post-cont-wrap {
	margin-bottom: 3px;
}

.feed-post-title-block {
	color: #7f7f7f;
	font-size: 14px;
	line-height: 16px;
	min-height: 23px;
	padding: 0 45px 4px 0;
}

.feed-user-avatar {
	background-color: #535c6a;
	background-image: url("images/log/live_feed_sprite_6.png?3");
	background-position: 13px -154px;
	background-repeat: no-repeat;
	border-radius: 50%;
	display: block;
	float: left;
	height: 50px;
	margin-right: 11px;
	overflow: hidden;
	width: 50px;
}

.bx-opera .feed-user-avatar img {
	border-radius: 50%;
}

.feed-user-avatar.feed-user-avatar-white {
	background: none;
}

.feed-user-avatar.feed-user-avatar-white img {
	background-color: #ffffff;
}


.feed-post-block .feed-user-avatar {
	left: 18px;
	position: absolute;
	top: 19px;
}

.feed-post-user-name {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 4px 0 0;
	vertical-align: middle;
}

.feed-post-user-name:link, .feed-post-user-name:visited, .feed-post-user-name:active {
	color: #2067b0;
	text-decoration: none;
}

.feed-post-user-name:hover {
	border-bottom: 1px solid;
}

.feed-add-post-destination-title .feed-post-user-name {
	margin: 0;
}

.feed-post-item {
	color: #5c6470;
	font-size: 12px;
	margin: 0;
	overflow: hidden;
	padding: 12px 0 1px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	vertical-align: top;
}

.feed-post-item a {
	border-bottom: 1px solid transparent;
}

.feed-post-item a:hover {
	border-bottom: 1px solid;
}

.feed-join-group .feed-post-item, .feed-leave-group .feed-post-item {
	padding-top: 8px;
}

.feed-post-item .feed-add-post-destination-title {
	background: none repeat 0 0;
	font-weight: bold;
	padding: 0 8px 0 0;
	position: relative;
}

.feed-add-post-destination-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 0 -78px;
	display: inline-block;
	height: 17px;
	margin: 0 6px 0 0;
	position: static;
	vertical-align: middle;
	width: 10px;
}

.feed-add-post-destination-prefix {
	border-bottom: 1px solid transparent;
	color: #5a9322;
	font-weight: bold;
	vertical-align: middle;
}

.feed-post-title {
	border-bottom: 1px solid transparent;
	color: #000 !important;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

.feed-post-title:hover {
	border-bottom: 1px solid;
}

.feed-post-title:hover {
	border-bottom: 1px solid;
}

.feed-post-text-block-inner {
	max-height: 288px;
	max-width: 920px;
	overflow: hidden;
	word-wrap: break-word;
}

.feed-post-text-block-inner-inner {
	padding-bottom: 15px;
	overflow-x: auto;
}

.feed-post-text-block-inner-inner img,
.feed-com-img-wrap {
	max-width: 100%;
}

.feed-com-text-inner-inner a,
.feed-post-text-block-inner-inner a {
	border-bottom: 1px solid transparent;
}

.feed-com-text-inner-inner a:hover,
.feed-post-text-block-inner-inner a:hover {
	border-bottom: 1px solid;
}

.feed-post-text-block-inner-inner a.crm-feed-user-block,
.feed-post-text-block-inner-inner a.crm-feed-user-block:hover,
.feed-post-text-block-inner-inner a.webform-button,
.feed-post-text-block-inner-inner a.webform-button:hover {
	border-bottom: none;
}

.feed-post-text-block-inner-inner a.crm-feed-user-block .crm-feed-user-name {
	border-bottom: 1px solid transparent;
	-webkit-transition : border-bottom-color 0.2 s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-post-text-block-inner-inner a.crm-feed-user-block:hover .crm-feed-user-name {
	border-bottom: 1px solid;
	color: #2067b0;
}


.feed-post-text-block-inner-inner ul,
.feed-post-text-block-inner-inner ol {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 1em;
	padding-top: 1em;
}

.crm-feed-info-right-cell .crm-detail-info-resp .crm-feed-company-avatar a,
.crm-feed-info-right-cell .crm-detail-info-resp .crm-feed-company-avatar a:hover {
	border-bottom: none;
}


.feed-post-destination-wrap {
	overflow: hidden;
	padding-left: 10px;
}

.feed-post-menu-wrap {
	position: absolute;
	right: 20px;
	top: -8px;
	width: 21px;
}

.feed-post-menu-but {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -86px -237px;
	height: 26px;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}

.feed-post-menu-but:hover {
	background-position: -116px -237px;
}

.feed-post-menu-but-active {
	background-position: -116px -237px !important;
}

.feed-post-important-switch,
.feed-post-important-switch:before,
.feed-post-important-switch:after {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 37px -1027px;
	cursor: pointer;
	height: 65px;
	position: absolute;
	right: 0;
	top: 0;
	width: 65px;
}

.feed-post-important-switch:before,
.feed-post-important-switch:after {
	background-position: -26px -1025px;
	content: '';
	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.feed-post-important-switch:hover:before {
	opacity: 1;
}

.feed-post-important-switch-active:after {
	background-position: -91px -1025px;
	opacity: 1;
}

.feed-post-important-switch-active:hover:before {
	opacity: 0;
}


.feed-post-more-link {
	border-bottom: none !important;
	display: inline-block;
	padding-right: 11px;
	position: relative;
}

.feed-post-more-text {
	border-bottom: 1px solid transparent;
	font-size: 12px;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-post-more-link:hover .feed-post-more-text {
	border-bottom: 1px solid;
}

.feed-post-more-arrow {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -101px -779px;
	height: 3px;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 5px;
	width: 7px;
}

.feed-post-link {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 9px;
	vertical-align: middle;
}

.feed-post-link:hover {
	text-decoration: none;
}

.feed-post-text-block {
	color: #2e2e2e;
	margin: 0 -18px 0 -70px;
	min-height: 39px;
	line-height: 20px;
	overflow: hidden;
	padding: 0 18px 0 70px;
	position: relative;
}

.start-page .feed-post-text-block {
	margin-left: -85px;
	padding-left: 85px;
}

.feed-post-block-files .feed-post-text-block {
	padding-bottom: 10px;
}


.feed-add-post-destination-new,
.feed-post-link-new:link,
.feed-add-post-destination-new:link,
.feed-post-link-new:visited,
.feed-add-post-destination-new:visited,
.feed-post-link-new:hover,
.feed-post-link-new:active,
.feed-add-post-destination-new:active {
	border-bottom: 1px solid transparent;
	color: #7f7f7f;
	font-size: 14px;
	line-height: normal;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	vertical-align: middle;
}

.feed-post-link-new {
	border-bottom: 1px dashed #7f7f7f;
	color: #7f7f7f;
	margin-left: 9px !important;
	text-decoration: none;
}

.feed-post-link-new:hover {
	border-bottom: 1px dashed;
}

a.feed-add-post-destination-new:hover {
	border-bottom: 1px solid;
	color: #7f7f7f;
	text-decoration: none;
}

span.feed-add-post-destination-new:hover {
	color: #7f7f7f;
	text-decoration: none;
}

.feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 1) 20px);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 1) 20px);
	cursor: pointer;
	height: 38px;
	left: 0;
	position: absolute;
	top: 264px;
	width: 100%;
	z-index: 3;
}

.feed-post-block-new .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 255, 255, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 255, 255, 1) 24px);
}

.feed-post-block-new.feed-post-block-files .feed-post-cont-wrap .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 24px);
}

.feed-post-text-more-but {
	background: none;
	display: block;
	border-bottom: 1px solid #d7dce0;
	height: 23px;
	margin: 0 0 0 86px;
	position: relative;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-post-text-more-but:before {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 17px -383px #fff;
	border: 1px solid #d7dce0;
	border-bottom: none;
	bottom: -1px;
	content: '';
	height: 21px;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	width: 63px;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-post-block-new.feed-post-block-files .feed-post-text-block .feed-post-text-more-but:before {
	background-color: #fffcee;
}

.feed-post-text-more-left,
.feed-post-text-more-right {
	display: none;
}

.feed-post-text-more:hover {
	border-bottom-color: #b6bbbd;
}

.feed-post-text-more:hover .feed-post-text-more-but,
.feed-post-text-more:hover .feed-post-text-more-but:before {
	border-color: #b6bbbd;
}

.feed-post-color-red {
	color: #d42d00;
}

.feed-post-color-green {
	color: #688617;
}

.feed-post-color-blue {
	color: #1a60a9;
}

.feed-post-informers {
	background-color: #ffffff;
	line-height: 12px;
	overflow: hidden;
	padding: 23px 18px 1px 70px;
	margin: 0 -18px 0 -70px;
}

.start-page .feed-post-informers {
	margin-left: -85px;
	padding-left: 85px;
}

.feed-com-tags-block + .feed-post-informers {
}

.feed-join-group .feed-post-informers,
.feed-leave-group .feed-post-informers {
	margin-top: -15px;
	position: relative;
}

.feed-inform-comments, .feed-inform-ilike, .feed-inform-follow, .feed-post-more-link {
	color: #0b66c3;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin-right: 20px;
	vertical-align: top;
}

.feed-inform-comments a,
.feed-inform-ilike a,
.feed-inform-follow a,
.feed-post-more-link a {
	border-bottom: 1px solid transparent;
	color: #0b66c3;
}

.feed-inform-comments a:hover,
.feed-inform-ilike a:hover,
.feed-inform-follow a:hover,
.feed-post-more-link a:hover {
	border-bottom: 1px solid #0b66c3;
	color: #0b66c3;
	text-decoration: none;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-inform-comments .feed-inform-comments-nolink {
	cursor: auto;
}

.feed-post-time-wrap:hover {
	text-decoration: underline;
}

.feed-you-like .feed-inform-ilike-icon {
	background-position: -28px -78px;
}

.feed-comments-block {
	background-color: #f5f7f8;
	border-radius: 1px;
	margin: 20px 18px 17px 68px;
	position: relative;
}

.feed-date {
	font-size: 11px;
	margin-right: 5px;
}

.feed-time {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -146px -230px;
	font-size: 11px;
	margin-right: 12px;
	padding-left: 13px;
}

.feed-post-informers .ilike-light .bx-ilike-right, .feed-com-informers .ilike-light .bx-ilike-right {
	height: 14px !important;
	padding: 0 1px 0 14px !important;
}

.feed-post-informers .ilike-light .bx-ilike-right {
	background-position: 0 -44px;
}

.feed-com-informers .ilike-light .bx-ilike-right {
	background-position: 0 -44px;
	padding-left: 14px !important;
}

.feed-post-informers .ilike-light .bx-you-like .bx-ilike-right {
	background-position: 0 -24px;
	padding-left: 14px;
}

.feed-com-informers .ilike-light .bx-you-like .bx-ilike-right {
	background-position: 0 -23px;
}

.ilike-light .bx-ilike-button {
	-moz-user-select: none;
	color: #929292;
	display: inline-block;
	height: 14px !important;
	position: relative;
}

.ilike-light .bx-ilike-right-wrap {
	height: auto !important;
}

.feed-com-informers .feed-inform-ilike-icon {
	margin-left: 6px;
}

.feed-com-informers .feed-com-reply {
	color: #999999;
	margin-left: 10px;
}

.bx-ilike-text {
	border-bottom: 1px solid transparent;
	height: auto !important;
	padding: 0 !important;
}

.bx-ilike-text:hover {
	border-bottom: 1px solid;
}

.feed-com-files {
	margin: 0 -18px 0 -70px;
	padding: 0 18px 0 70px;
}

.start-page .feed-com-files {
	margin-left: -85px;
	padding-left: 85px;
}

.feed-com-block .feed-com-files {
	margin-bottom: -10px;
	position: relative;
	z-index: 1;
}

.feed-com-files-title {
	color: #535c68;
	float: left;
	font-size: 14px;
	font-weight: bold;
	min-width: 50px;
	margin-top: 2px;
}

.feed-com-tags-block .feed-com-files-title {
	min-width: 0;
}

.feed-com-files-cont {
	max-width: 859px;
	overflow: hidden;
	padding: 5px 0 1px 10px;
}

.feed-com-file-wrap {
	box-sizing: border-box;
	display: inline-block;
	font-size: 13px;
	line-height: 14px;
	margin: -2px 6px 14px 0;
	max-width: 100%;
	padding: 1px 0 0 20px;
	position: relative;
	vertical-align: middle;
	word-wrap: break-word;
}

.feed-con-file-icon, .feed-com-file-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -55px -220px;
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}

.feed-com-block .feed-con-file-icon {
	left: 0;
}

.feed-com-file-name {
	border-bottom: 1px solid transparent;
	color: #1668c0;
	vertical-align: top;
	word-wrap: break-word;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-com-file-name:hover {
	border-bottom: 1px solid;
}

.feed-con-file-size {
	color: #8e8e8e;
	font-size: 13px;
	font-weight: normal;
	margin: 0 12px 0 4px;
	vertical-align: top;
}

.feed-com-files-more {
	padding: 0 0 0 20px;
}

.feed-com-files-more-link {
	color: #7f7f7f;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
	text-decoration: underline;
}

.feed-com-files-more-link:hover {
	color: #5e5e5e;
}

.bx-ie8 .feed-com-file-wrap, .bx-ie9 .feed-com-file-wrap {
	white-space: nowrap;
}

.bx-ie8 .feed-com-file-wrap {
	max-width: 95%;
}

.feed-com-files-photo {
	border: 1px solid #eeeeee;
	display: inline-block;
	height: 48px;
	margin: 0 15px 15px 0;
	width: 48px;
}

.feed-com-files-cont .feed-com-files-photo {
	height: 75px;
	width: 75px;
}

.feed-com-tag,
.feed-com-tag:visited,
.feed-com-tag:link,
.feed-com-tag:active {
	border-bottom: 1px solid transparent;
	color: #2e2e2e;
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	margin-top: 3px;
	vertical-align: baseline;
}

.feed-com-tag:hover {
	border-bottom: 1px solid;
}

.feed-com-tags-block .feed-com-files-title {
	margin-top: 2px;
}

.feed-com-tags-block .feed-com-files-cont {
	padding-top: 1px;
}

.feed-com-block-menu {
	position: absolute;
	right: 3px;
	top: 0;
	width: 21px;
}

.feed-com-block-menu-but {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -39px -82px;
	height: 23px;
	opacity: 0.6;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}

.feed-com-block-menu-but:hover {
	opacity: 1;
}

.feed-com-block-menu-act {
	display: block;
}

.feed-com-block-menu-act .feed-com-block-menu-but {
	opacity: 1;
}

.feed-cancel-com,
.feed-cancel-com:link,
.feed-cancel-com:visited,
.feed-cancel-com:active {
	border-bottom: 1px solid transparent;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: normal;
	margin-top: 25px;
	text-decoration: none;
	vertical-align: top;
}

.feed-comments-block .feed-cancel-com {
	margin-top: 13px;
}

.feed-cancel-com:hover {
	border-bottom: 1px solid;
}

.feed-buttons-block .feed-cancel-com {
	vertical-align: top;
	margin-top: 25px;
}

.feed-join-group {
	margin-bottom: 5px;
}

.feed-post-block-new.feed-join-group {
	margin-bottom: 20px;
	min-height: 77px;
}

.feed-join-group .feed-add-post-destination-title {
	color: #688617;
	margin-top: 6px;
}

.feed-join-group .feed-add-post-destination-icon {
	background-position: -137px -406px;
	margin: 0 0 0 6px;
	vertical-align: top;
}

.feed-join-group .feed-add-post-destination {
	float: left;
	margin-bottom: 0;
	padding-right: 13px;
}

.feed-join-group.feed-post-block-new .feed-post-cont-wrap {
	padding-bottom: 14px;
}

.feed-join-group.feed-post-block-new .feed-post-informers {
	margin-top: -30px;
	padding-top: 0;
}

.feed-leave-group {
	margin-bottom: 5px;
}

.feed-leave-group.feed-post-block-new {
	margin-bottom: 20px;
}

.feed-leave-group .feed-add-post-destination-title {
	color: #b70000;
	display: inline-block;
}

.feed-leave-group .feed-add-post-destination-icon {
	background-position: -137px -427px;
	margin: 0 0 0 6px;
	vertical-align: top;
}

.feed-leave-group .feed-add-post-destination {
	margin-bottom: 0;
	opacity: 0.5;
}

.feed-post-time-wrap {
	display: inline-block;
	vertical-align: middle;
}

.feed-post-informers .feed-post-time-wrap {
	float: right;
	line-height: 12px;
}

.feed-files-cont {
	overflow: hidden;
	padding-left: 10px;
}

.feed-post-add-files {
	padding-top: 8px;
}

.feed-info-add-photo .feed-add-post-files-title {
	float: none;
	margin-left: 0;
}

.feed-info-add-photo .feed-files-cont {
	margin: -8px 0 0;
	padding: 5px 0 0 3px;
}

.feed-info-add-photo .feed-com-files-photo {
	margin: 8px 8px 0 0;
}

.feed-info-add-photo .feed-post-cont-wrap {
	margin: 8px 8px 0 0;
}

.feed-workday-edit .feed-add-post-files-title, .feed-workday-confirm .feed-add-post-files-title, .feed-workday-rejected .feed-add-post-files-title {
	float: none;
}

.feed-work-time {
	color: #5c6470;
	display: inline-block;
	font-size: 12px;
	margin-left: 9px;
	padding-left: 21px;
	position: relative;
}

.feed-work-time-link {
	display: inline-block;
	line-height: normal;
	font-size: 12px;
	margin-left: 30px;
	position: relative;
}


.feed-work-time-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -142px -447px;
	display: block;
	height: 14px;
	left: -20px;
	position: absolute;
	top: 0;
	width: 14px;
}

.feed-workday-table {
	border-radius: 2px;
	color: #000;
	font-size: 13px;
	margin-top: 7px;
	max-width: 873px;
	padding: 7px 25px 9px 22px;
}

.feed-post-block-new.feed-workday-confirm .feed-post-text-block,
.feed-post-block-new.feed-workday-edit .feed-post-text-block,
.feed-post-block-new.feed-workday-rejected .feed-post-text-block {
	margin-bottom: 15px;
}

.feed-workday-left-side {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	width: 50%;
}

.feed-workday-right-side {
	display: inline-block;
	overflow: hidden;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	width: 50%;
}

.feed-workday-table-text {
	display: inline-block;
	margin-right: 9px;
	vertical-align: middle;
}

.feed-workday-avatar {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -26px -163px #535c6a;
	border-radius: 50%;
	display: inline-block;
	height: 39px;
	margin-right: 10px;
	vertical-align: middle;
	width: 39px;
}

.feed-user-name-wrap {
	display: inline-block;
	line-height: 14px;
	text-shadow: none;
	vertical-align: middle;
	width: 58%;
}

.feed-grat-block .feed-user-name-wrap {
	margin: 10px 0;
}

.feed-workday-user-name {
	border-bottom: 1px solid transparent;
	color: #0b66c3;
	display: inline-block;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	vertical-align: top;
}

.feed-workday-user-name:hover {
	border-bottom: 1px solid;
}

.feed-workday-user-position {
	display: block;
	margin-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.feed-workday-right-side .feed-user-name-wrap {
	text-align: left;
}

.feed-workday-edit .feed-workday-table {
	background-color: #e6f0f2;
}

.feed-workday-confirm .feed-workday-table {
	background-color: #ecf5c4;
}

.feed-workday-rejected .feed-workday-table {
	background-color: #f6e3e3;
}

.feed-workday-comments {
	font-size: 12px;
	line-height: 13px;
	margin: 10px 0 0;
}

.feed-workday-com-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat 0 -484px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 1px 6px 0 0;
	vertical-align: top;
	width: 15px;
}

.feed-workday-rejected .feed-workday-com-icon {
	background-position: -17px -485px;
	margin-right: 2px;
	width: 12px;
}

.feed-external-massage .feed-user-avatar {
	background-position: 0 -112px;
}

.feed-task-info-block {
}

.feed-task-info-label {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat 0 0 #ecf2f3;
	border-color: #cfd7d9 #dee5e6 #e7eeef;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #d7ddde inset;
	color: #5c6470;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-top: 4px;
	padding: 4px 10px 5px 28px;
	position: relative;
}

.feed-task-info-label-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -142px -447px;
	height: 14px;
	left: 8px;
	position: absolute;
	top: 7px;
	width: 14px;
}

.feed-task-info-text {
	overflow: hidden;
	padding-left: 11px;
}

.feed-task-info-text-item {
	color: #5c6470;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feed-task-info-text-item:first-child .feed-task-info-text-title {
	font-weight: bold;
}

.feed-task-info-text-title {
	padding-right: 6px;
}

.feed-calendar-view-block {
}

.feed-calendar-view-label {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat 0 0 #ecf2f3;
	border-color: #cfd7d9 #dee5e6 #e7eeef;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #d7ddde inset;
	color: #5c6470;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-top: 4px;
	padding: 4px 10px 5px 28px;
	position: relative;
}

.feed-calendar-view-label-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -142px -447px;
	height: 14px;
	left: 8px;
	position: absolute;
	top: 7px;
	width: 14px;
}

.feed-calendar-view-text {
	min-height: 70px;
	overflow: hidden;
	padding-left: 16px;
}

.feed-calendar-view-text td.feed-calendar-view-text-cell-l {
	color: #535c69;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 0 10px 6px 0;
	white-space: nowrap;
}

.feed-calendar-view-text td.feed-calendar-view-text-cell-r {
	color: #535c69;
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 6px 0;
}

.bxcal-more-attendees-popup {
	width: 180px;
}

.bxcal-att-popup-img {
	border-bottom: none !important;
	display: inline-block;
	margin-right: 3px;
	overflow: hidden;
	text-decoration: none;
}

.bxcal-att-popup-att-full {
	display: block !important;
	overflow: hidden;
	text-decoration: none;
}

.bxcal-att-popup-avatar {
	background: url("images/log/live_feed_sprite_6.png") no-repeat -62px -170px #535c6a;
	display: block;
	float: left;
	border-radius: 50%;
	height: 30px;
	margin: 1px;
	overflow: hidden;
	width: 30px;
}

.bxcal-att-popup-img img {
	border: medium none;
	display: block;
}

.bxcal-att-popup-img-not-empty {
	background-color: #fff;
}

.bxcal-att-popup-name {
	cursor: pointer;
	display: block;
	font-size: 11px;
	height: 15px;
	min-width: 100px;
	overflow: hidden;
	padding-left: 3px;
	padding-top: 2px;
	text-decoration: underline;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bxcal-more-attendees {
	border-bottom: 1px dashed;
	color: #7f7f7f;
	cursor: pointer;
	display: inline-block;
	margin: 5px 0 0 6px !important;
	text-decoration: none;
	vertical-align: top;

	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.bxcal-more-attendees:hover {
	color: #545454;
}

.feed-calendar-view-icon {
	background-color: #2fc7f7;
	color: #535c69;
	cursor: pointer;
	display: block;
	float: left;
	/*height: 49px;*/
	margin-top: 7px;
	overflow: hidden;
	padding: 0 4px 4px;
	position: relative;
	width: 45px;
}

.feed-calendar-view-icon-day {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 2;
}

.feed-calendar-view-icon-date {
	background-color: #ffffff;
	color: #535c69;
	font-size: 28px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	position: relative;
	text-align: center;
}

.feed-calendar-view-icon .feed-calendar-view-icon-fake-link {
	border-bottom: none!important;
	left: 0;
	position: absolute;
	text-decoration: none !important;
	top: 0;
	z-index: 300;
}

.feed-calendar-view-icon .feed-calendar-view-icon-fake-link img {
	border: 0 none;
	height: 49px;
	width: 49px;
}

.feed-calendar-view-description {
	border-bottom: 1px solid #eff0f1;
	border-top: 1px solid #eff0f1;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.feed-cal-view-desc-title {
	color: #7f7f7f;
	font-size: 13px;
	margin: 22px 0 10px;
}

.feed-event-att-status {
	border-bottom: 1px dashed transparent;
	color: #63a800;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 1px;
	position: relative;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-event-att-status:hover {
	border-bottom: 1px dashed;
}

.feed-event-att-status:before {
	background: url("/bitrix/images/calendar/calendar-sprite.png") no-repeat center -254px;
	content: "";
	height: 3px;
	position: absolute;
	right: -13px;
	top: 9px;
	width: 6px;
}

.feed-event-att-status-declined {
	color: #7f7f7f;
}

.feed-event-att-status-declined:hover {
	border-bottom-color: #7f7f7f;
}

.feed-event-att-status-declined:before {
	background: url("/bitrix/images/calendar/calendar-sprite.png") no-repeat center -265px;
}

.feed-cal-view-inv-controls {
	height: 28px;
	margin: 10px 0;
}

.feed-calendar-view-invite-cont, .feed-event-att-status-accepted, .feed-event-att-status-declined {
	display: none;
}

.feed-cal-view-inv-controls-y .feed-event-att-status-accepted {
	display: inline-block !important;
}

.feed-cal-view-inv-controls-n .feed-event-att-status-declined {
	display: inline-block !important;
}

.feed-cal-view-inv-controls-q .feed-calendar-view-invite-cont {
	display: block !important;
}

.feed-cal-view-inv-controls .feed-event-status-popup {
	display: none;
}

.feed-event-status-popup .webform-small-button {
	margin: 0 3px !important;
}

.feed-cal-view-uf-block {
	padding: 10px 0;
}

.feed-cal-view-uf-block-title {
	color: #5c6470;
	float: left;
	font-size: 12px;
	font-weight: bold;
	min-width: 50px;
}

.feed-info .feed-user-avatar,
.feed-important .feed-user-avatar {
	background-position: -53px -112px;
}

.feed-info .feed-add-post-destination-title {
	color: #b54515;
}

.feed-external .feed-user-avatar {
	background-position: 0 -112px;
}

.feed-important .feed-add-post-destination-title {
	color: #b54515;
}

.feed-info-block .feed-post-text-block-inner-inner {
	background-color: #f4fed5;
	border-radius: 2px;
	color: #535c69;
	line-height: 24px;
	margin: 12px 0 5px;
	padding: 19px 19px 17px;
}

.feed-post-block-new .feed-info-block .feed-post-text-block-inner-inner {
	margin-bottom: 20px;
}

.feed-info-block i.feed-info-block-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -30px -480px;
	display: block;
	height: 18px;
	left: 47px;
	position: absolute;
	top: -16px;
	width: 15px;
}

.feed-post-block-new .feed-info-block i.feed-info-block-icon {
	background-position: -98px -637px;
}

.feed-comment-title {
	font-weight: bold;
}

.feed-post-info-block {
	background: -moz-linear-gradient(center top, #f9fbfb, #f2f6f6) repeat 0 0;
	border: 1px solid #bcd0d5;
	border-radius: 3px;
	box-shadow: 0 1px 2px #e4e5e5;
	display: inline-block;
	margin: 12px 10px 12px 0;
	min-height: 22px;
	min-width: 150px;
	padding: 17px 12px 13px;
	position: relative;
	text-align: center;
}

.feed-post-info-block i {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -51px -480px;
	bottom: -12px;
	display: block;
	height: 12px;
	left: 22px;
	position: absolute;
	width: 12px;
}

.feed-post-info-cont {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding-left: 23px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.feed-post-info-icon {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -75px -483px;
	display: block;
	height: 14px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 12px;
}

.feed-tasks-info .feed-workday-table {
	background-color: #ecf2f3;
	border-color: #cfd7d9 #dee5e6 #e7eeef;
	display: inline-block;
	margin-top: 12px;
	padding-left: 11px;
	vertical-align: top;
}

.feed-tasks-info .feed-user-name-wrap, .feed-tasks-info .feed-workday-left-side {
	width: auto;
}

.feed-tasks-info .feed-workday-avatar {
	margin-left: 14px;
}

.feed-post-info-block-wrap {
	display: block;
	padding-bottom: 15px;
	position: relative;
}

.feed-new-employee .feed-user-avatar {
	background-position: -52px -112px;
}

.feed-new-employee .feed-post-text-block-inner-inner {
	padding: 9px 15px;
}

.feed-new-employee .feed-workday-left-side {
	padding: 3px 0 3px 3px;
	width: auto;
}

.feed-new-employee .feed-user-name-wrap {
	width: auto;
}

.feed-info-block .feed-user-avatar {
	display: inline-block;
	float: none;
	margin-right: 10px;
	position: static;
	vertical-align: middle;
}

.feed-new-employee .feed-workday-user-position {
	font-size: 12px;
	font-weight: bold;
	padding-top: 0;
}

.feed-new-employee .feed-info-block .feed-user-avatar {
	background-position: 13px -154px;
}

.feed-quote-block {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ecf2f3;
	border-color: #cfd7d9 #dee5e6 #e7eeef;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #dbe1e3 inset;
	color: #555;
	margin-top: 25px;
	padding: 25px 37px 30px;
	position: relative;
}

.feed-quote-block i {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -122px -478px;
	display: block;
	height: 18px;
	left: 47px;
	position: absolute;
	top: -16px;
	width: 15px;
}

.feed-quote-top, .feed-quote-bottom {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -35px -646px;
	display: block;
	height: 13px;
	position: absolute;
	width: 12px;
}

.feed-quote-block-code .feed-quote-top, .feed-quote-block-code .feed-quote-bottom {
	display: none;
}

.feed-quote-top {
	left: 12px;
	top: 11px;
}

.feed-quote-bottom {
	background-position: -59px -646px;
	bottom: 12px;
	right: 13px;
}

.feed-quote-block pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	overflow-x: auto;
}

.feed-new-message-informer-wait-icon {
	background: url("images/log/wait2.gif") no-repeat 0 0 transparent;
	display: inline-block;
	height: 14px;
	margin: 11px 0 0 12px;
	vertical-align: top;
	width: 11px;
}

.feed-add-post-destination-title {
	padding-right: 0;
}

.feed-post-time-wrap a {
	color: #555555 !important;
	text-decoration: none;
}

.feed-com-all {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	font-size: 12px;
	margin-left: 0;
	padding: 0;
	position: relative;
}

.feed-com-all:hover {
	border-bottom: 1px solid;
}

.feed-com-informers .ilike-light .bx-ilike-text {
	color: #999;
}

.feed-post-block .wdif-subblock {
	padding-left: 10px;
}

.feed-post-block .wdif-block {
	padding-top: 10px;
}

.feed-post-block .bx-vote-block {
	margin-top: 10px;
}

.feed-com-time {
	margin-right: 6px;
}

.feed-com-all-hide {
	display: none;
}

* html .feed-add-successfully, * html .feed-add-error {
	height: 36px;
}

* html .feed-add-post-destination-all-users {
	background: none repeat 0 0 #edf2d4;
}

* html .feed-add-post-destination-users {
	background-color: #e6f0f5;
}

* html .feed-add-post-destination-department {
	background-color: #e9eff1;
}

* html .feed-add-post-destination-sonetgroups {
	background-color: #f6ebe2;
}

* html .feed-add-post-files-block .feed-add-post-files-title {
	width: 74px;
}

* html .feed-add-post-loading {
	height: 19px;
}

* html .feed-add-post-load-indicator {
	background: none repeat 0 0 #31a8e1;
}

* html .feed-add-photo-block {
	width: 123px;
}

* html .feed-com-add-block .feed-add-photo-block {
	width: 100px;
}

* html .feed-tasks-info .feed-workday-table {
	width: 350px;
}

* html .feed-post-informers .feed-post-time-wrap {
	line-height: 14px;
}

* html .feed-post-info-block {
	background: none repeat 0 0 #f3f7f7;
}

* html .feed-post-info-block i {
	bottom: -16px;
}

* html .feed-post-block-new .feed-post-informers {
	margin-top: 0;
}

* html .feed-inform-comments, * html .feed-inform-ilike {
	float: left;
}

.sonet-log-nav {
	font-size: 12px;
	padding-top: 10px;
}

.popup-window-content .popup-window-content-div {
	font-size: 12px;
}

.popup-window-content .popup-window-content-div input, .popup-window-content .popup-window-content-div label, .popup-window-content .popup-window-content-div span {
	vertical-align: middle;
}

.popup-window-content .popup-window-content-div td {
	text-align: left;
}

.popup-window-content-visible-div {
	padding: 10px;
	width: 300px;
}

.popup-window-content-transport-div {
	padding: 4px 15px 0;
	width: 650px;
}

.popup-window-content-transport-div-title, .popup-window-content-visible-title {
	font-weight: bold;
}

.popup-window-content-visible-sep {
	padding: 10px 0;
}

.popup-window-content-visible-row {
	color: #929292;
	display: inline-block;
}

.popup-window-content-transport-cell-title {
	padding: 10px 0;
	vertical-align: top;
	width: 50%;
}

.popup-window-content-transport-cell-control {
	vertical-align: top;
	width: 50%;
}

span.popup-window-content-row-cnt, a.popup-window-content-row-text {
	display: inline-block;
	vertical-align: top;
}

span.popup-window-content-row-cnt {
	padding-right: 5px;
}

a.popup-window-content-row-text {
	width: 90%;
}

#popup-window-content-bx_log_ut_popup {
	padding: 10px 15px 0;
}

#bx_log_transport_popup .popup-window-buttons-hr {
	margin: 0 20px;
}

.transport-popup-list-list {
	border-left: 1px solid #e9e9e9;
	margin: 7px 0;
	padding-left: 10px;
}

.transport-popup-list-list .transport-popup-list-item {
	cursor: pointer;
	display: block;
	margin: 0 0 4px;
	position: relative;
	text-decoration: none;
}

.transport-popup-list-item-selected {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -711px transparent !important;
}

.transport-popup-list-item:hover {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -730px transparent;
}

.transport-popup-list-item-left, .transport-popup-list-item-icon, .transport-popup-list-item-text, .transport-popup-list-item-right {
	display: inline-block;
	height: 19px;
	vertical-align: top;
}

.transport-popup-list-item-left, .transport-popup-list-item-right {
	width: 3px;
}

.transport-popup-list-item-selected .transport-popup-list-item-left {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -692px transparent !important;
}

.transport-popup-list-item:hover .transport-popup-list-item-left {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -7px -692px transparent !important;
}

.transport-popup-list-item-selected .transport-popup-list-item-right {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -3px -692px transparent !important;
}

.transport-popup-list-item:hover .transport-popup-list-item-right {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -10px -692px transparent;
}

.transport-popup-list-item-icon {
	margin: 0 0 0 9px;
	width: 20px;
}

.transport-popup-icon-N {
	background: url("images/sprite-icons.png") no-repeat -36px -70px;
}

.transport-popup-icon-M {
	background: url("images/sprite-icons.png") no-repeat -36px -24px;
}

.transport-popup-icon-X {
	background: url("images/sprite-icons.png") no-repeat -36px -46px;
}

.transport-popup-list-item-text {
	color: #494949;
	font: 12px/19px Arial, Helvetica, sans-serif;
	margin: 0 5px;
}

.transport-popup-list-item-right {
	position: absolute;
	right: 0;
	top: 0;
}

.gadgetholder .feed-comment-block-menu, .gadgetholder .feed-post-menu-wrap, .gadgetholder .feed-add-post-title {
	display: none;
}

.sonet-log-clear {
	clear: both;
}

.feed-post-block table.forum-quote, .feed-post-block table.forum-code, .feed-post-text table.quote, .feed-post-text table.code, .feed-com-text table.forum-quote, .feed-com-text table.forum-code {
	border-style: solid;
	border-width: 1px;
	font-size: 1em;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	width: 85%;
}

.feed-post-text table.forum-code pre,
.feed-post-text table.code pre,
.feed-com-text table.forum-code pre,
.feed-com-text table.code pre {
	font-size: 1em;
}

.feed-post-block table.forum-quote, .feed-com-text table.forum-quote {
	background: url("images/quote-gray.png") no-repeat left top #f7f7f7;
	border-color: #e8e8e8;
	color: #555;
}

.feed-post-text table.quote {
	background: url("images/font_quote.gif") no-repeat left top;
	border-color: #dddddd;
	color: #4a483f;
}

.feed-comment-block table.quote {
	border-color: #d5d5d5;
}

.feed-post-text table.forum-code, .feed-com-text table.forum-code {
	background: none repeat 0 0 #f7f7f7;
	border-color: #e8e8e8;
	color: #7d7d7d;
}

.feed-post-text table.code {
	background: none repeat 0 0 #f7f7f7;
	border-color: #e8e8e8;
	color: #7d7d7d;
}

.feed-post-block table.forum-quote table.forum-quote, .feed-post-block table.forum-code table.forum-code, .feed-post-text table.quote table.quote, .feed-post-text table.code table.code, .feed-com-text table.forum-quote table.forum-quote, .feed-com-text table.forum-code table.forum-code {
	margin: 0.5em 0 0;
	width: 95%;
}

.feed-post-block table.forum-quote th, .feed-post-block table.forum-code th, .feed-post-text table.quote th .feed-post-text table.code th, .feed-com-text table.forum-quote th, .feed-com-text table.forum-code th {
	display: none;
	font-weight: bold;
	padding: 0.25em 1em;
	text-align: left;
}

.feed-post-block table.forum-quote td, .feed-post-block table.forum-code td, .feed-post-text table.quote td, .feed-post-text table.code td, .feed-com-text table.forum-quote td, .feed-com-text table.forum-code td {
	padding: 0.95em 1.5em;
}

.feed-post-block table.forum-code td, .feed-post-text table.code td, .feed-com-text table.forum-code td {
	font-family: "Courier New";
	white-space: pre-wrap;
}

.feed-post-block table.forum-quote th, .feed-post-block table.forum-code th, .feed-post-text table.quote th, .feed-post-text table.code th, .feed-com-text table.forum-quote th, .feed-com-text table.forum-code th {
	display: none;
}

.feed-post-text table.blogquote, .feed-post-text table.blogcode {
	border: 1px solid;
	font-size: 1em;
	margin: 0.5em 1em;
	width: 80%;
}

.feed-post-text table.blogquote td, .feed-post-text table.blogcode td {
	padding: 0.95em 1.5em;
}

.feed-post-text table.blogcode td {
	font-family: "Courier New";
	white-space: pre-wrap;
}

.feed-post-text table.blogcode pre {
	font-family: "Courier New";
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	white-space: pre-wrap;
}

.feed-post-text div.blog-post-quote, .feed-post-text div.blog-post-code {
	padding: 0.6em 0;
}

.feed-post-text div.blog-post-quote span, .feed-post-text div.blog-post-code span {
	color: #7d7d7d;
	display: none;
	padding-left: 0.6em;
}

.feed-post-text div.blog-post-code table.blogcode {
	background-color: #f7f7f7;
	border-color: #e8e8e8;
	color: #7d7d7d;
	margin: 0;
}

.feed-post-text div.blog-post-quote table.blogquote {
	background: url("images/font_quote.gif") no-repeat left top #f8f2d4;
	border-color: #eee9cc;
	color: #4a483f;
	margin: 0;
}

textarea#sonet_log_comment_text {
	border: 1px solid #dfdfdf;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	height: auto;
	margin-bottom: 5px;
	overflow: hidden;
	resize: none;
	width: 100%;
}

input#sonet_log_post_comment_button {
	font-size: 12px;
	vertical-align: middle;
}

div#sonet_log_comment_form_container {
	padding: 10px 0 5px 6px;
	width: 98%;
}

.log-comment-wait {
	background: url("images/wait.gif") no-repeat 0 0;
	height: 31px;
	width: 31px;
}

a.sonet-log-field-textbox-clear {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -17px 8px transparent;
	cursor: pointer;
	display: block;
	height: 24px;
	outline: medium none;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}

.mli-search-results {
	z-index: 1000;
}

.webform-field-textbox-empty .sonet-log-field-textbox-clear {
	cursor: default;
	display: none;
}

.sonet-log-pagetitle-block {
	white-space: nowrap;
	padding-top: 6px;
}

.sonet-log-pagetitle-button {
	cursor: pointer;
	display: inline-block;
	margin: 0 2px;
	text-decoration: none;
}

.sonet-log-pagetitle-button-left-s, .sonet-log-pagetitle-button-right-s {
	width: 4px;
}

.sonet-log-pagetitle-button-active .sonet-log-pagetitle-button-left-s {
	background-position: -15px -127px !important;
}

.sonet-log-pagetitle-button-active .sonet-log-pagetitle-button-right-s {
	background-position: -20px -127px !important;
}

.sonet-log-pagetitle-button-text {
	background-repeat: repeat-x;
	color: #7f7f7f;
	font-size: 15px;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	padding: 1px 7px;
}

.sonet-log-pagetitle-button-counter {
	display: inline-block;
	font-size: 10px;
	left: 2px;
	position: relative;
	top: -4px;
}

.sonet-log-pagetitle-button-active .sonet-log-pagetitle-button-text {
	background-position: 0 -183px !important;
	color: #000000 !important;
}

.sonet-log-pagetitle-button-left-s, .sonet-log-pagetitle-button-text, .sonet-log-pagetitle-button-right-s {
	background: url("images/pagetitle-sprite.png") no-repeat 0 50px transparent;
	display: inline-block;
	vertical-align: top;
}

.sonet-log-pagetitle-button-left-s, .sonet-log-pagetitle-button-right-s {
	height: 23px;
}

.sonet-log-pagetitle-button-settings {
	border-left: 1px solid #e5e5e5;
	cursor: pointer;
	display: inline-block;
	height: 12px;
	margin-top: 7px;
	vertical-align: top;
	width: 32px;
}

.sonet-log-pagetitle-button-set-icon {
	background: url("images/pagetitle-sprite.png") no-repeat -150px -34px transparent;
	display: inline-block;
	height: 14px;
	margin: -1px 0 0 11px;
	width: 14px;
}

.sonet-log-pagetitle-button:hover .sonet-log-pagetitle-button-left-s {
	background-position: -27px -127px;
}

.sonet-log-pagetitle-button:hover .sonet-log-pagetitle-button-right-s {
	background-position: -32px -127px;
}

.sonet-log-pagetitle-button:hover .sonet-log-pagetitle-button-text {
	background-color: #f0f0f0;
	color: #787878;
}

.sonet-log-pagetitle-button-settings:hover .sonet-log-pagetitle-button-set-icon {
	background-position: -129px -34px;
}

table.forum-spoiler thead {
	cursor: pointer;
}

table.forum-spoiler thead div {
	background-image: url("images/plus.gif");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
}

table.forum-spoiler thead.forum-spoiler-head-open div {
	background-image: url("images/minus.gif");
}

table.forum-spoiler {
	border-color: #dedede;
	margin: 0.5em 0 0;
	width: 95%;
}

table.forum-spoiler td {
	background: none repeat 0 0 #fff !important;
	color: #6a6a6a;
	padding: 0.9em 1em;
}

table.forum-spoiler th {
	background: none repeat 0 0 #ebebeb !important;
	color: #636363;
	font-size: 12px;
	font-weight: bold;
	padding: 0.25em 1em;
	text-align: left;
}

table.forum-spoiler {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	font-size: 1em;
	table-layout: fixed;
	width: 100%;
}

a.forum-spoiler-hide {
	float: right;
}

table.quote {
	background: url("images/quote-gray.png") no-repeat left top #f7f7f7;
	border: 1px solid #e8e8e8;
	color: #555;
	font-size: 1em;
	margin: 0.6em 0;
	width: 80%;
}

table.quote td {
	padding: 0.95em 1.5em;
}

.feed-grat-block.feed-info-block {
	background-color: #fffdee;
	display: block;
	margin-top: 12px;
	padding: 1px 14px 1px 92px;
	position: relative;
}

.feed-grat-block.feed-grat-block-large.feed-info-block {
	max-width: 830px;
}

.feed-grat-block.feed-grat-block-small.feed-info-block {
	display: block;
	padding: 10px 14px 9px 11px;
}

.feed-grat-block.feed-info-block .feed-grat-img {
	background: url("images/log/medals-2.png") no-repeat 100px 100px;
	border-radius: 50%;
	height: 45px;
	margin: 0 15px 0 3px;
	width: 45px;
}

.feed-grat-block.feed-grat-block-large.feed-info-block .feed-grat-img {
	left: 14px;
	margin: 0;
	position: absolute;
	top: 13px;
}

.feed-grat-block.feed-info-block .feed-grat-small-left .feed-grat-img {
	float: none;
	margin-top: 4px;
}

.feed-grat-block.feed-info-block .feed-grat-img-heart {
	background-position: -13px -7px;
	background-color: #fe5857;
}

.feed-grat-block.feed-info-block .feed-grat-img-gift {
	background-position: -74px -8px;
	background-color: #5cd1df;
}

.feed-grat-block.feed-info-block .feed-grat-img-cup {
	background-position: -134px -8px;
	background-color: #ffa800;
}

.feed-grat-block.feed-info-block .feed-grat-img-money {
	background-position: -196px -8px;
	background-color: #05b5ab;
}

.feed-grat-block.feed-info-block .feed-grat-img-crown {
	background-position: -257px -8px;
	background-color: #a7abb0;
}

.feed-grat-block.feed-info-block .feed-grat-img-drink {
	background-position: -318px -8px;
	background-color: #2fc7f7;
}

.feed-grat-block.feed-info-block .feed-grat-img-cake {
	background-position: -379px -8px;
	background-color: #b47153;
}

.feed-grat-block.feed-info-block .feed-grat-img-thefirst {
	background-position: -13px -191px;
	background-color: #ffd200;
}

.feed-grat-block.feed-info-block .feed-grat-img-flag {
	background-position: -74px -191px;
	background-color: #fb6dba;
}

.feed-grat-block.feed-info-block .feed-grat-img-star {
	background-position: -134px -190px;
	background-color: #29ad49;
}

.feed-grat-block.feed-info-block .feed-grat-img-thumbsup {
	background-position: -196px -191px;
	background-color: #6e54d1;
}

.feed-grat-block.feed-info-block .feed-grat-img-beer {
	background-position: -257px -191px;
	background-color: #ae914b;
}

.feed-grat-block.feed-info-block .feed-grat-img-flowers {
	background-position: -318px -191px;
	background-color: #ff7b9d;
}

.feed-grat-block.feed-info-block .feed-grat-img-smile {
	background-position: -379px -191px;
	background-color: #bada0b;
}

.feed-grat-block.feed-info-block .feed-workday-left-side {
	display: block;
	white-space: normal;
}

.feed-grat-block.feed-info-block .feed-workday-left-side, .feed-grat-block.feed-info-block .feed-user-name-wrap {
	width: auto;
}

.feed-grat-block.feed-info-block .feed-user-name-wrap {
	min-width: 255px;
	width: 40%;
}


.feed-grat-block .feed-workday-left-side .feed-user-name-wrap {
	overflow: hidden;
	white-space: nowrap;
}

.feed-grat-block.feed-grat-block-large .feed-user-name-wrap-inner {
	display: inline-block;
	margin: 1px 0 0;
	max-width: 175px;
	vertical-align: middle;
	width: auto;
}

.feed-grat-block.feed-grat-block-large .feed-user-name-wrap-inner .feed-workday-user-name {
	display: block;
}

.feed-grat-block .feed-workday-left-side .feed-user-name-wrap .feed-user-avatar {
	display: inline-block;
	float: none;
	margin: 0 8px 0 23px;
	vertical-align: middle;
}

.feed-grat-block-arrow {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -145px -45px;
	height: 10px;
	left: 80px;
	position: absolute;
	top: 31px;
	width: 11px;
}

.feed-grat-small-left .feed-grat-block-arrow {
	margin: 10px 0 0 21px;
	position: static;
}

.feed-grat-small-block-names .feed-user-name-wrap .feed-user-avatar {
	background-position: -64px -171px;
	height: 26px;
	margin: 1px 8px 0 0;
	width: 26px;
}

.feed-grat-small-left {
	float: left;
}

.feed-grat-small-block-names {
	overflow: hidden;
	padding: 9px 0 2px 1px;
}

.feed-grat-block.feed-info-block .feed-grat-small-block-names .feed-user-name-wrap {
	margin: 5px 0 14px;
	white-space: nowrap;
	width: 175px;
}


.feed-grat-small-block-names .feed-user-name-wrap .feed-workday-user-name {
	display: inline-block;
	max-width: 220px;
	padding: 6px 0 0 0;
	vertical-align: top;
	width: auto;
}

.feed-grat-block-small {
	min-height: 86px;
}

.feed-notice-block,
.feed-buttons-block {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: height 0.2s ease 0s, opacity 0.2s ease 0s;
}

.feed-buttons-block {
	padding-left: 18px;
}

.feed-imp-post .feed-info-block {
	display: block;
}

.feed-imp-post-footer {
	display: block;
	margin: 8px 0 0 -19px;
	min-height: 36px;
	padding: 17px 0 0 20px;
}

.feed-imp-post-footer .webform-button {
	margin-left: 6px;
}

.feed-imp-btn-main-wrap {
	display: inline-block;
	vertical-align: top;
}

.feed-imp-btn-wrap {
	display: block;
	overflow: hidden;
}

.block-have-read .feed-imp-btn-wrap {
	margin-left: -27px;
	padding-left: 27px;
}

.feed-foot-have-read {
	display: inline-block;
}

.have-read-text-block {
	color: #65a61d;
	display: inline-block;
	font-weight: bold;
	padding: 6px 5px 0 27px;
	position: relative;
	white-space: nowrap;
}

.have-read-text-block i {
	background: url("images/log/live_feed_sprite_6.png?3") no-repeat -2px -484px;
	display: block;
	height: 14px;
	left: 6px;
	position: absolute;
	top: 12px;
	width: 14px;
}

.block-have-read {
	padding-left: 27px;
}

.feed-imp-post-footer-text {
	color: #010101;
	display: inline-block;
	margin-top: 6px;
	vertical-align: top;
}

.feed-imp-post-footer-comma {
	color: #555;
	font-weight: normal;
}

.feed-imp-post-user-link {
	border-bottom: 1px solid transparent;
	color: #0b66c3;
	text-decoration: none;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-imp-post-user-link:hover {
	border-bottom-color: #0b66c3;
	color: #0b66c3;
	text-decoration: none;
}

.feed-entry-popup-menu input {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(185, 185, 185, 0.5) inset;
	box-shadow: 0 1px 2px rgba(185, 185, 185, 0.5) inset;
	box-sizing: border-box;
	color: #474747;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 29px;
	padding: 0 0 0 8px;
	width: 100%;
}

form.comments-form .feed-add-post-buttons {
	display: block !important;
}

.crm-feed-post {
	display: inline-block;
	margin: 0 12px 5px 5px;
	vertical-align: top;
}

.crm-feed-post-title {
	color: #599018;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 3px;
	vertical-align: middle;
}

.crm-feed-post-name {
	color: #585858;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.crm-feed-post-name:hover {
	color: #585858;
	text-decoration: underline;
}

.crm-feed-info-table {
	border: medium none;
	border-spacing: 0;
	margin-top: 10px;
}

table.crm-feed-info-table tr .crm-feed-info-left-cell {
	color: #585858;
	font-size: 12px;
	font-weight: bold;
	height: 17px;
	padding: 0 20px 5px 0;
	text-align: left;
	vertical-align: middle;
}

table.crm-feed-info-table tr .crm-feed-info-right-cell {
	height: 17px;
	padding: 0 0 5px;
	text-align: left;
	vertical-align: middle;
}

.crm-feed-info-right-cell .crm-detail-info-resp {
	padding-left: 50px;
}

.crm-feed-info-right-cell .crm-detail-info-resp-img {
	margin-left: 6px;
}

.crm-feed-info-right-cell .crm-feed-info-text-padding {
	padding-left: 6px;
}

.crm-feed-info-right-cell .crm-detail-info-resp:hover .crm-detail-info-resp-name {
	text-decoration: none;
}

.crm-feed-info-right-cell .crm-detail-info-resp .crm-detail-info-resp-name:hover {
	/*text-decoration: underline;*/
}

.crm-feed-info-right-cell .crm-detail-info-resp-name {
	padding-bottom: 0;
	display: inline-block;
}

.crm-feed-info-name {
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

.crm-feed-info-text {
	color: #000;
	font-size: 14px;
}

.feed-crm-view-icon.feed-calendar-view-icon {
	cursor: auto;
}

.bx-crm-filter-btn {
	border: 1px solid #fff;
	border-radius: 4px;
	color: #41474f;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 14px;
	height: 24px;
	margin-top: -9px;
	min-width: 61px;
	padding: 6px 7px 0 28px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px #fff;
}

.bx-crm-filter-btn {
	min-width: 56px;
	padding: 6px 7px 0 33px;
	text-align: left;
}

.bx-crm-filter-btn:hover {
	background-color: #e9eff1;
	background-image: linear-gradient(to bottom, #f9f9f9, #dfe9ec);
	border-color: #f1f1f1 #d8d8d8 #a9a9a9;
	-webkit-box-shadow: 0 1px #fff inset, 0 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #e5e5e5;
	box-shadow: 0 1px #fff inset, 0 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #e5e5e5;
}

.bx-crm-filter-btn:active, .bx-crm-filter-btn-active {
	background: none repeat 0 0 #e9eeef !important;
	border-color: #c1c5c6 #d5d9da #e3e7e8 !important;
	box-shadow: 0 1px 1px #cdd0d1 inset !important;
}

.bx-crm-filter-btn:before {
	background: url("images/crm/crm-control-panel-sprite-4.png") no-repeat -22px -1781px;
	content: "";
	height: 11px;
	left: 13px;
	position: absolute;
	top: 10px;
	width: 12px;
}

.crm-feed-wrap {
	padding: 0;
}

.crm-feed {
	overflow: hidden;
	position: relative;
}

.crm-feed-cont {
	padding-top: 30px;
}

.crm-feed-top-nav {
	min-height: 32px;
	overflow: hidden;
	padding: 0 0 11px 14px;
}

.crm-feed-top-nav-item, .crm-feed-top-nav-item-more {
	color: #989ca3;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 6px 15px 0;
	vertical-align: top;
}

.crm-feed-top-nav-item:first-child {
	margin-left: 0;
}

.crm-feed-top-nav-item:hover, .crm-feed-top-nav-item-more:hover {
	text-decoration: underline;
}

.crm-feed-top-nav-item-active {
	color: #5c6470;
}

.crm-feed-top-nav-item-more {
	padding-right: 13px;
	position: relative;
}

.crm-feed-top-nav-item-more:before {
	background: url("images/crm/crm-control-panel-sprite-4.png") no-repeat -25px -1742px;
	content: "";
	height: 3px;
	position: absolute;
	right: 0;
	top: 8px;
	width: 6px;
}

.crm-feed-right-side {
	float: right;
	margin: 0 0 0 11px;
	width: 262px;
}

.feed-post-title.crm-feed-activity-status {
	border-bottom: none;
	color: #6c6c6c !important;
	display: block;
	font-weight: normal;
	margin-bottom: 5px;
	vertical-align: top;
}

.feed-post-title.crm-feed-activity-status i {
	font-style: normal;
	font-weight: bold;
}

.crm-post-deal-wrap {
	overflow: hidden;
	padding-left: 75px;
	position: relative;
}

.crm-post-deal-wrap .crm-feed-calendar-icon {
	left: 1px;
	position: absolute;
	top: 10px;
}

.crm-feed-info-table .crm-feed-company-avatar {
	left: 6px;
	top: 0!important;
}

.crm-feed-info-table .crm-feed-user-block {
	display: inline-block;
	cursor: pointer;
	min-height: 29px;
	text-decoration: none;
	padding-left: 50px;
	position: relative;	
}

.crm-feed-client-name, .crm-feed-user-name {
	color: #2067b0;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
}

.crm-feed-user-avatar {
	left: 0;
	position: absolute;
	top: 0;
}

.crm-feed-company-avatar {
	position: absolute;
	top: 0;
}

.crm-feed-num-block {
	display: inline-block;
	padding-right: 25px;
	position: relative;
	white-space: nowrap;
}

.crm-feed-client-block .crm-item-tel-num,
.crm-feed-client-block .crm-item-tel-num:hover {
	line-height: normal;
	text-decoration: none;
}

.crm-feed-client-block {
	background-color: #f0f5f6;
	border-radius: 3px;
	display: block;
	margin-bottom: 5px;
	min-height: 42px;
	min-width: 160px;
	padding: 3px 10px 0 50px;
	position: relative;
}

.crm-feed-client-company {
	color: #848787;
	display: block;
	font-size: 12px;
}

.crm-feed-client-block .crm-feed-user-avatar {
	left: 6px;
	margin-top: -18px;
	top: 50%;
}

.crm-feed-client-phone {
	color: #1a60a9;
	display: inline-block;
	font-size: 12px;
	margin-top: 2px;
}

.crm-feed-deal-description {
	border-bottom: 1px solid #ebeded;
	border-top: 1px solid #ebeded;
	color: #000;
	font-size: 14px;
	padding: 15px 0 16px;
}

.crm-feed-deal-descr-title {
	color: #8d8d8d;
	float: left;
	padding-right: 11px;
}

.crm-feed-deal-descr-text {
	overflow: hidden;
}

.crm-feed-info-bar-cont .crm-list-stage-bar {
	display: inline-block;
	margin-top: 5px;
}

.crm-feed-info-bar-cont {
	display: block;
}

.feed-filter-fake-cont {
	display: inline-block;
	min-height: 32px;
}



/*=========================== feed animation ======================*/



.bx-placeholder-wrap {
	border-bottom: 15px solid #eef2f4;
	padding-bottom: 80px;
}

.bx-placeholder {

	-webkit-animation: 0.8s placeHolderShimmer linear infinite;
	animation: 0.8s placeHolderShimmer linear infinite;

    background-color: #f7f7f8;
	background-image:-webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-image:        linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
	background-size: 920px;

	margin-top: 20px;
	max-width: 920px;

}


@-webkit-keyframes placeHolderShimmer
{
    0%{background-position: -560px 0;}
    100%{background-position: 860px 0;}
}
@keyframes placeHolderShimmer
{
    0%{background-position: -460px 0;}
    100%{background-position: 860px 0;}
}

@-webkit-keyframes placeHolderShimmer-small
{
    0%{background-position: -419px 0;}
    100%{background-position: 519px 0;}
}
@keyframes placeHolderShimmer-small
{
    0%{background-position: -419px 0;}
    100%{background-position: 519px 0;}
}

@-webkit-keyframes placeHolderShimmer-middle
{
    0%{background-position: -495px 0;}
    100%{background-position: 595px 0;}
}
@keyframes placeHolderShimmer-middle
{
    0%{background-position: -495px 0;}
    100%{background-position: 595px 0;}
}

.bx-feed-curtain {
	border: none;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.bx-feed-curtain td {
	background-color: #fff;
	padding: 0;
}

.bx-curtain-cell-1{width: 17px;}
.bx-curtain-cell-2 {width: 50px;}
.bx-curtain-cell-3 {width: 17px;}
.bx-curtain-cell-4 {width: 292px;}
.bx-curtain-cell-5 {width: 14.8%;}
.bx-curtain-cell-6 {width: 39%;}
.bx-curtain-cell-7 {width: 46px;}

.bx-curtain-row-0 td {height: 5px;}
.bx-curtain-row-1 td {height: 12px;}
.bx-curtain-row-2 td {height: 29px;}
.bx-curtain-row-last td {height: 33px;}

td.transparent {background: none;}

.bx-bx-curtain-avatar {
	border: 17px solid #fff;
	margin: -34px -17px -21px -17px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

@media screen and (max-width: 1350px){
	.bx-placeholder {
		background-size: 790px 100%;
		-webkit-animation-name: placeHolderShimmer-middle;
		animation-name: placeHolderShimmer-middle;
	}
}

@media screen and (max-width: 1200px){
	.bx-placeholder {
		background-size: 638px 100%;
		-webkit-animation-name: placeHolderShimmer-small;
		animation-name: placeHolderShimmer-small;
	}
}


/*============================== end feed animation ====================*/







