body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	background: #888;
}

table {
	width: 670px;
	margin: 0 auto;
	border-spacing: 0px;
	display: table;
	border-collapse: separate;
	border: none;
	background: #FFF;
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    3px 4px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         3px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.white {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.logoutbutton {
	border-color: #FFF;
	border-width: thin;
	border-style: solid;
	padding: 3px 15px;
	border-radius: 5px;
	margin-left: 10px;
	background: #0072c0;
}

.logoutbutton:hover {
	background: #FFF;
	color: #0072c0;
	cursor: pointer;
}

.head {
	color: #FFF;
	background: #0072c0;
}

.head td {
	height: 24px;
	padding: 10px 15px;
}
.head .logo a {
	font-weight: bold;
	font-size: 36px;
}
.head .logo {
	text-align: left;
}

.head .userauth {
	text-align: right;
}

.welcome td {
	padding: 30px 0;
	text-align:center;
}

span.appname {
	color: #0072c0;
	font-weight:bold;
}

.list {
	background: #f2f5f8;
}

.list input[type='text'], .list input[type='password'] {
	display: block;
    text-align: center;
}

.access {
	padding: 7px 100px;
}

.access div {
	padding: 10px 0 10px 47px;
}

.center {
	padding: 7px 0 !important;
}

input {
	margin: 20px 0;
	padding: 3px 1px;
}

.accname {
	font-weight: bold;
}

.userinfo {
	background: url(img/userinfo.png) no-repeat left;
}

.email {
	background: url(img/email.png) no-repeat left;
}

.bottombuttons {
	padding: 25px 15px 25px 15px;
}

.bottombuttons a {
	color: #007cd1;
	text-decoration: none;
	cursor: pointer;
}

.bottombuttons button, input[type='submit'] {
	padding: 5px 15px;
	margin: 0 5px;
	border-radius: 5px;
	border-width: thin;
	border-style: solid;
}

.btnaccess {
	background: #0072c0;
	color: #FFF;
	border: #0065aa;

}

.btncancel {
	background: #FFF;
	color: #0072c0;
	border: #0065aa;
}

.bottombuttons button:hover, input[type='submit']:hover {
	background: #007cd1;
	cursor: pointer;
	color: #FFF;
}