/*Menu icon*/
.oauth2_menu_icon {background-image:url(icons/oauth2/mnu_oauth2.png);background-position: 1px 0;}
.oauth2_page_icon {background-image:url(icons/oauth2/title.png);background-position: 0 0;}
#oauth2_menu_icon {background-image:url(icons/oauth2/mnu_oauth2.png);background-position: -8px -5px}
#oauth2_page_icon {background-image:url(icons/oauth2/title.png);}